/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

/* Variables */
:root {
  /* Fonts */
  --FF: "Overlock", sans-serif;

  /* Colors */
    /* Header and Footer Colors*/
  --HF-BGCOLOR: #0288D1;
  --HF-TEXTCOLOR: #FFFFFF;
    /* Body Colors */
  --BGCOLOR: #E1F5FE;
  --TEXTCOLOR: #4B4F54;
  --BORDERCOLOR: #B0BEC5;
    /* Button Colors */
  --BUTTON-BGCOLOR: #0288D1;
  --BUTTON-TEXTCOLOR: #FFFFFF;
  --BUTTON-HOVERCOLOR: #0277BD;
  --BUTTON-ACTIVECOLOR: #ff5722;
  --BUTTON-ACTIVEHOVERCOLOR: #e64a19;
    /* Checkbox Colors */
  --CHECKBOX-HOVERCOLOR: #b62a00;
  --CHECKBOX-BEFORECOLOR: #FFFFFF;
  --CHECKBOX-BGCOLOR: #ff5722;
  --CHECKBOX-BORDERCOLOR: #ff5722;
  --CHECKBOX-FOCUSCOLOR: #ff9800;
    /* Textarea Colors */
  --TEXAREA-PLACEHOLDERCOLOR: rgba(75, 79, 84, 0.7);
  
  /* Borders*/
  --BORDERS: 1px solid var(--BORDERCOLOR);
  --BORDERSRADIUS: 5px;

  /* Box Shadows */
  --BOXSHADOW: 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --BUTTON-BOXSHADOW:  0 4px 8px rgba(0, 0, 0, 0.2);
  --TEXTAREA-BOXSHADOW: 0 0 6px rgba(255, 152, 0, 0.6);
  --CHECKBOX-FOCUSBOXSHADOW: 0 0 4px rgba(255, 87, 34, 0.6);
  --CHECKBOX-CHECKEDBOXSHADOW:  0 2px 6px rgba(0, 0, 0, 0.1);
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BGCOLOR);
  color: var(--TEXTCOLOR);
  font-family: var(--FF);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling Buttons */
button {
  cursor: pointer;
  font-family: inherit;
  margin-left: 7px;
  padding: 8px 18px;
  background-color: var(--BUTTON-BGCOLOR);
  color: var(--BUTTON-TEXTCOLOR);
  border: none;
  border-radius: 5px;
  box-shadow: var(--BOXSHADOW);
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

button:hover {
  background-color: var(--BUTTON-HOVERCOLOR);
  transform: scale(1.05);
}

button.active-filter {
  background-color: var(--BUTTON-ACTIVECOLOR);
  color: var(--BUTTON-TEXTCOLOR);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  box-shadow: var(--BUTTON-BOXSHADOW);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.active-filter:hover {
  background-color: var(--BUTTON-ACTIVEHOVERCOLOR);
  transform: scale(1.05);
}

/* Header */
.header {
  background-color: var(--HF-BGCOLOR);
  color: var(--HF-TEXTCOLOR);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: var(--BORDERS);
  box-shadow: var(--BOXSHADOW);
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  font-weight: 900;
}

.title > img {
  width: 50px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  padding: 10px;
}

/* Task Input */
.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
  gap: 10px ;
} 

.task-label {
  display: flex;
  flex-direction: column;
}

.task-label > input {
  width: 350px;
  height: 30px;
  padding: 5px;
  margin-block: 3px;
  border: var(--BORDERS);
  border-radius: var(--BORDERSRADIUS);
}

.task-form > button {
  margin-top: 19px;
}

/* Task List Container */
.tasks-section {
  display: flex;
  flex-direction: column;
}

.task-list {
  padding: 10px;
  line-height: 2;
  border: var(--BORDERS);
  border-radius: var(--BORDERSRADIUS);
  box-shadow: var(--BOXSHADOW);
  list-style: none;
}

.filter-container {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 1.15rem;
}

  /* Styling Each Task */
.task-item {
  margin-block: 10px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--BORDERS);
}

.task {
  width: 300px;
}

.calender {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}
  
.task-item-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.task-item-btn-container button img {
  width: 15px;
  height: 15px;
}

  /* Styling Checkboxes */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--CHECKBOX-BORDERCOLOR);
  border-radius: var(--BORDERSRADIUS);
  background-color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type="checkbox"]:checked {
  background-color: var(--CHECKBOX-BGCOLOR);
  border-color: var(--CHECKBOX-BORDERCOLOR);
  box-shadow: var(--CHECKBOX-CHECKEDBOXSHADOW);
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 14px;
  color: var(--CHECKBOX-BEFORECOLOR);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 2;
}

input[type="checkbox"]:hover {
  border-color: var(--CHECKBOX-HOVERCOLOR);
}

input[type="checkbox"]:focus {
  outline: none;
  border-color: var(--CHECKBOX-FOCUSCOLOR);
  box-shadow: var(--CHECKBOX-FOCUSBOXSHADOW);
}

/* Footer */
.footer {
  background-color: var(--HF-BGCOLOR);
  color: var(--HF-TEXTCOLOR);
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px;
  z-index: 2;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.calendar-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: var(--BGCOLOR);
  border: var(--BORDERS);
  border-radius: var(--BORDERSRADIUS);
  box-shadow: var(--BOXSHADOW);
  padding: 20px;
  gap: 20px;
  font-size: 1.5rem;
}

.calendar-modal label {
  font-size: 1.2rem;
  color: var(--TEXTCOLOR);
  margin-bottom: 5px;
  font-weight: bold;
}

.calendar-modal input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  color: var(--TEXTCOLOR);
  background-color: var(--CHECKBOX-BEFORECOLOR);
  border: var(--BORDERS);
  border-radius: var(--BORDERSRADIUS);
  box-shadow: var(--BOXSHADOW);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.calendar-modal input:focus,
.calendar-modal input:hover {
    border-color: var(--CHECKBOX-BORDERCOLOR);
    box-shadow: var(--CHECKBOX-FOCUSBOXSHADOW);
    outline: none;
}

.calendar-modal button {
  align-self: flex-end;
  padding: 5px;
}

.calendar-modal button > img {
  width: 20px;
  height: 20px;
}

.description-modal {
  background-color: var(--BGCOLOR);
  padding: 20px;
  border-radius: var(--BORDERSRADIUS);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.description-modal button {
  align-self: flex-end;
  padding: 5px;
}

.description-modal button > img {
  width: 20px;
  height: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  margin: 30px;
  padding: 20px;
  background-color: var(--BGCOLOR);
  border: var(--BORDERS);
  border-radius: var(--BORDERSRADIUS);
  color: var(--TEXTCOLOR);
  box-shadow: var(--BOXSHADOW);
  resize: none;
  font-family: var(--FF);
  font-size: 1.25rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

textarea:focus {
  border-color: var(--BUTTON-ACTIVEHOVERCOLOR);
  box-shadow: var(--TEXTAREA-BOXSHADOW);
  outline: none;
}

textarea::placeholder {
  color: var(--TEXAREA-PLACEHOLDERCOLOR);
}



